# 不知道什么是gitignore
# See: https://git-scm.com/docs/gitignore

# 这些是直接从Jekyll的第一方文档复制到gitignore文件的
# https://jekyllrb.com/tutorials/using-jekyll-with-bundler/#commit-to-source-control

# 忽略由Jekyll生成的默认站点位置、缓存和元数据
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# 忽略由Bundler生成的文件夹
.bundle/
vendor/
